.dashboard {
  padding: 20px;
}

h3 {
  margin-top: 20px;
}

ul {
  margin-top: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: red;
  color: white;
}
