<h2>Gestion des Tickets</h2>

<!-- Section Création de ticket -->
<form (submit)="createTicket()">
  <label>
    Description :
    <textarea [(ngModel)]="newTicket.description" placeholder="Description" required></textarea>
  </label>

  <label>
    Priorité :
    <select [(ngModel)]="newTicket.priority_id" required>
      @for (priority of priorities; track priority.id) {
        <option [value]="priority.id">{{ priority.name }}</option>
      }
    </select>
  </label>

  <button type="submit">Créer Ticket</button>
</form>

<!-- Section Vue des Tickets -->
<h3>Liste des Tickets</h3>
<ul>
  @for (ticket of tickets; track ticket.id) {
    <li>
      <strong>Description :</strong> {{ ticket.description }} <br />
      <strong>Priorité :</strong> {{ ticket.priority_id }} <br />
      <strong>Statut :</strong> {{ ticket.status }}
    </li>
  }
  @empty {
    <li>Aucun ticket disponible</li>
  }
</ul>
