<div class="home">
  <h2>Mes Tickets</h2>
  <label>
    <input type="checkbox" [(ngModel)]="showResolved" />
    Afficher les tickets résolus
  </label>

  <ul>
    <!-- Séparation de *ngFor et *ngIf en utilisant un ng-container -->
    <ng-container *ngFor="let ticket of tickets">
      <li *ngIf="showResolved || ticket.status !== 'resolved'">
        <div>
          <strong>Description :</strong> {{ ticket.description }}
        </div>
        <div>
          <strong>Priorité :</strong> {{ ticket.priority_id }}
        </div>
        <div>
          <strong>Statut :</strong> {{ ticket.status }}
        </div>
        <button *ngIf="ticket.status === 'open'" (click)="resolveTicket(ticket.id)">
          Résoudre
        </button>
      </li>
    </ng-container>
  </ul>
</div>
