<div class="home">
  <h2>Mes Tickets</h2>
  <label>
    <input type="checkbox" [(ngModel)]="showResolved" />
    Afficher les tickets résolus
  </label>

  <ul>
    @for (ticket of tickets; track ticket.id) {
      <li *ngIf="showResolved || ticket.status !== 'resolved'">
        <strong>Description :</strong> {{ ticket.description }} <br />
        <strong>Priorité :</strong> {{ ticket.priority_id }} <br />
        <strong>Statut :</strong> {{ ticket.status }} <br />
        <button *ngIf="ticket.status === 'open'" (click)="resolveTicket(ticket.id)">
          Résoudre
        </button>
      </li>
    }
    @empty {
      <li>Aucun ticket disponible</li>
    }
  </ul>
</div>
