<nav>
  <ul>
    <!-- Onglet Accueil toujours visible -->
    <li>
      <a routerLink="/" routerLinkActive="active">Accueil</a>
    </li>

    <!-- Onglet Tickets visible pour les utilisateurs connectés -->
    <li *ngIf="isLoggedIn">
      <a routerLink="/tickets" routerLinkActive="page-actuelle">Tickets</a>
    </li>

    <!-- Onglet Dashboard visible uniquement pour admin et chef_service -->
    <li *ngIf="isLoggedIn && (role === 'admin' || role === 'chef_service')">
      <a routerLink="/dashboard" routerLinkActive="page-actuelle">Dashboard</a>
    </li>

    <!-- Bouton Déconnexion si connecté -->
    <li *ngIf="isLoggedIn">
      <button (click)="logout()">Déconnexion</button>
    </li>

    <!-- Bouton Connexion si non connecté -->
    <li *ngIf="!isLoggedIn">
      <a routerLink="/login" routerLinkActive="page-actuelle">Connexion</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
