<nav>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="page-actuelle">Accueil</a>
    </li>
    <li *ngIf="role === 'chef_service' || role === 'employe'">
      <a routerLink="/tickets" routerLinkActive="page-actuelle">Voir les tickets</a>
    </li>
    <li *ngIf="role === 'admin' || role === 'chef_service'">
      <a routerLink="/dashboard" routerLinkActive="page-actuelle">Dashboard</a>
    </li>
  </ul>
  <div class="user-role">
    <span>Bonjour, {{ name }} ({{ role }})</span>
    <button (click)="logout()">Déconnexion</button>
  </div>
</nav>

<router-outlet></router-outlet>
